
			<div class="row">
				<main class="col-md-12">

                        <section>
                          <h2>Welcome to the About Section </Section></h2>
						  </p>This is the page that tells you a little bit about myself and what I am currently up to.</p>
                          <p>I will be demonstrating HTML5 principles and techniques, Routing in Express, and sharing information about myself.</p>
						  </p>I hope you find this website useful.</p>

                        </section>
					    
                        <section>
                          <h2>About Me</h2>
                          <p>My name is Omolayo, and I am a student in the Business Information Technology (BTT) program.</p>
						  </p>I am learning about web development and sometimes I am not sure I know what I am doing.</p>
                          <p>You are welcome to explore the different pages to learn more about the topics we have covered so far.</p>
                        </section>
                      

				</main>
			</div>
		