
			<div class="row">
				<main class="col-md-12">
	

<div class="jumbotron">
    <h1 class="display-4">Welcome to my website!</h1>
    <p class="lead">I will be demonstrating HTML5 principles and techniques, Routing in Express, and more.</p>
  </div>
  
  <section>
    <h2>About This Website</h2>
    <p>This site consists of 3 static views (Home, About, HTML Demo) as well as 5 routes that supply data, including: All Students, Students by Course, A Single Student By Student Number, All TAs, and All Courses.</p>
    <p>Click on the following links to navigate to each page:</p>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/htmlDemo">HTML Demo</a></li>
      <li><a href="/students">All Students</a></li>
      <li><a href="/students?course=5">Students by Course</a></li>
      <li><a href="/student/2">A Single Student By Student Number</a></li>
      <li><a href="/tas">All TAs</a></li>
      <li><a href="/courses">All Courses</a></li>
    </ul>
  </section>
  
  <section>
    <h2>Introduction To HTML5</h2>
    <p>This site utilizes HTML5, a markup language used for structuring and presenting content on the World Wide Web. We will learn how HTML5 works for web development.</p>
  </section>

					
					<!-- End your code here  -->



				</main>
			</div>
		</div>

		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	</body>
</html>