
			<div class="row">
				<main class="col-md-12">

			<!-- Start your code here -->
                                            
              <h2>HTML Demo</h2>

        <!-- Tables Section -->
        <section>
        <h3>Tables</h3>

        <table border="1">
            <caption>Table 1</caption>
            <thead>
            <tr>
                <th>Gryffindor</th>
                <th>Hufflepuff</th>
                <th>Ravenclaw</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>I love money</td>
                <td>I am loyal</td>
                <td>Wisdom is key</td>
            </tr>
            <tr>
                <td>Happy to help</td>
                <td>Hard work pays</td>
                <td>Life is good</td>
            </tr>
            </tbody>
        </table>

        <table border="1">
            <caption>Table 2</caption>
            <thead>
            <tr>
                <th>Slytherin</th>
                <th>Hufflepuff</th>
                <th>Ravenclaw</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>I love money</td>
                <td>I am loyal</td>
                <td>Wisdom is key</td>
            </tr>
            <tr>
                <td>Happy to help</td>
                <td>Hard work pays</td>
                <td>Life is good</td>
            </tr>
            </tbody>
        </table>
        </section>

            <p>This section demonstrates the usage of HTML tables. It includes two tables with some elements.</p>
                     </section>

                     <!-- Lists Section -->
                     <section>
                         <h3>Lists</h3>
                            
                         <ul>
                        <li>Harry Potter and the Chamber of Secrets</li>
                        <li>Harry Potter and the Philosopher's Stone</li>
                        <li>Harry Potter and the Prisoner of Azkaban</li>
                            <ul>
                             <li>Sirius Black</li>
                            <li>James Potter</li>
                            <li>Padfoot</li>
                                    </ul>
                                </li>
                                <li>Harry Potter and the Goblet of Fire</li>
                                <li>Harry Potter and the Order of the phoenix</li>
                                <li>Harry Potter and the Half-blood Prince</li>
                                </ul>
                            
                                <p>This section demonstrates the usage of HTML lists. We have six listed items, with item 3 having nested lists within it.</p>
                            </section>

                            <!-- Images Section -->
                    <section>
                        <h3>Images</h3>
                    
                        <img src="https://www.oldbookillustrations.com/site/assets/high-res/n-d-1823/villa-donna-anna-768.jpg" alt="Villa Donna Anna Illustration">
                        <img src="https://www.oldbookillustrations.com/site/assets/high-res/1846/kom-ombo-768.jpg" alt="Kom Ombo Temple Illustration">
                        <img src="https://www.oldbookillustrations.com/site/assets/high-res/1797/near-edmonton-church-768.jpg" alt="Near Edmonton Church illustration">
                    
                        <p>This section showcases the usage of HTML images. It includes three images with alt text for people who are visually impaired.</p>
                    </section>
  
                    <!-- Audio Section -->
                    <section>
                        <h3>Audio</h3>
                    
                        <audio controls>
                        <source src="https://pat-crawford-sdds.netlify.app/shared/fall-2022/web700/A3/sample-audio.mp3" type="audio/mpeg">
                        <source src="https://pat-crawford-sdds.netlify.app/shared/fall-2022/web700/A3/sample-audio.ogg" type="audio/ogg">
                        Your browser does not support the audio element.
                        </audio>
                    
                        <p>This section showcases the usage of HTML5 audio. It includes an audio player that allows you to play the provided audio files.</p>
                    </section>
  
                    <!-- Video Section -->
            <section>
                <h3>Video</h3>
            
                <video controls>
                <source src="https://pat-crawford-sdds.netlify.app/shared/fall-2022/web700/A3/sample-video.mp4" type="video/mp4">
                <source src="https://pat-crawford-sdds.netlify.app/shared/fall-2022/web700/A3/sample-video.ogg" type="video/ogg">
                <source src="https://pat-crawford-sdds.netlify.app/shared/fall-2022/web700/A3/sample-video.webm" type="video/webm">
                Your browser does not support the video element.
                </video>
            
                <p>This section showcases the usage of HTML5 video. It includes a video player that allows you to play the provided video files.</p>
            </section>
  
                        <!-- End your code here -->

				</main>
			</div>